
borderColor(col)
  &::after
    border-color col
flexSet(content, items)
  justify-content content
  align-items items
borderRadius(radius)
  overflow hidden
  border-radius rems(radius)
html, body
  margin 0
  -webkit-overflow-scrolling touch
body
  background-color #f2f2f2
::-webkit-input-placeholder /* WebKit browsers */
  color #cacaca
:-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color #cacaca
::-moz-placeholder /* Mozilla Firefox 19+ */
  color #cacaca
:-ms-input-placeholder /* Internet Explorer 10+ */
  color #cacaca
// 布局
.flex-row
  display flex
  flex-flow row nowrap
.flex-column
  display flex
  flex-flow column nowrap
.flex-start
  justify-content flex-start
  align-items flex-start
.flex-start-center
  justify-content flex-start
  align-items center
.flex-start-stretch
  justify-content flex-start
  align-items stretch
.flex-end
  justify-content flex-end
  align-items flex-end
.flex-end-center
  justify-content flex-end
  align-items center
.flex-end-stretch
  justify-content flex-end
  align-items stretch
.flex-center
  justify-content center
  align-items center
.flex-between-start
  justify-content space-between
  align-items flex-start
.flex-between-end
  justify-content space-between
  align-items flex-end
.flex-between-center
  justify-content space-between
  align-items center
.flex-between-stretch
  justify-content space-between
  align-items stretch
.flex-center-start
  justify-content center
  align-items flex-start
.flex-center-end
  justify-content center
  align-items flex-end
.flex-center-stretch
  justify-content center
  align-items stretch
.flex-center-baseline
  justify-content center
  align-items baseline
.flex-around-start
  justify-content space-around
  align-items flex-start
.flex-around-end
  justify-content space-around
  align-items flex-end
.flex-around-center
  justify-content space-around
  align-items center
.flex-1
  flex 1
// 字体
.size-0
  font-size 0
.size-20
  font-size rems(20)
.size-22
  font-size rems(22)
.size-24
  font-size rems(24)
.size-26
  font-size rems(26)
.size-28
  font-size rems(28)
.size-30
  font-size rems(30)
.size-32
  font-size rems(32)
.size-34
  font-size rems(34)
.size-36
  font-size rems(36)
.size-38
  font-size rems(38)
.size-40
  font-size rems(40)
// 粗细
.weight-400
  font-weight 400
.weight-bold
  font-weight bold
.weight-bolder
  font-weight bolder
// 字体颜色
.color-0
  color #000000
.color-3
  color #333333
.color-45
  color #454545
.color-7
  color #777777
.color-9
  color #999999
.color-de
  color #dedede
.color-f
  color #ffffff
.color-009688
  color #009688
.color-5fb878
  color #5fb878
.color-393d49
  color #393d49
.color-2f4056
  color #2f4056
.color-1e9fff
  color #1e9fff
.color-01aaed
  color #01aaed
.color-ffb800
  color #ffb800
.color-ff5722
  color #ff5722
.color-ff0000
  color #ff0000
.color-success
  color #52c41a
.color-info
  color #1890ff
.color-warning
  color #e6a23c
.color-error
  color #f5222d
.color-c
  color #cccccc
.color-input
  color #323233
// 文字其它
.text-center
  text-align center
.text-left
  text-align left
.text-right
  text-align right
.text-justify
  text-align justify
.text-ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
.text-break
  word-break break-all
.text-nowrap
  white-space nowrap
// 边框
.vant-border
  &.border-left-15
    &::after
      display block
      left 15px
.border
  position relative
  z-index 1
  &::after
    content ' '
    position absolute
    pointer-events none
    box-sizing border-box
    top -50%
    left -50%
    right -50%
    bottom -50%
    -webkit-transform scale(0.5)
    transform scale(0.5)
    border 0 solid #d8d8d8
    border-bottom-width 1px
  &.border-fa
    borderColor(#f3f3f3)
  &.border-ebedf0
    borderColor(#ebedf0)
.radius-10
  borderRadius(10)
.radius-20
  borderRadius(20)
.radius-30
  borderRadius(30)
  overflow hidden
// 背景色
.bgcolor-f
  background-color #ffffff
.bgcolor-f2
  background-color #f2f2f2
.bgcolor-f8
  background-color #f8f8f8
.bgcolor-5fb878
  background-color #5fb878
.bgcolor-edeced
  background-color #edeced
// 容器
.display-inline
  display inline
.display-inline-block
  display inline-block
.padding-20-30
  padding rems(20) rems(30)
.padding-20-30-0
  padding rems(20) rems(30) 0
.padding-0
  padding 0
.padding-10-0
  padding rems(10) 0
.padding-0-30
  padding 0 rems(30)
.padding-left-10
  padding-left rems(10)
.padding-right-10
  padding-right rems(10)
.padding-bottom-20
  padding-bottom rems(20)
.margin-0
  margin 0
.margin-top-20
  margin-top rems(20)
.margin-bottom-20
  margin-bottom rems(20)
.max-width-2half
  width 100%
.max-width-400
  width rems(400)
.fixed-max-width
  position fixed
  width rems(750)
  left 0
  right 0
  margin-left auto
  margin-right auto
.bottom-0
  bottom 0
.top-0
  top 0
.width-half
  width 50%
.height-100
  height rems(100)
.height-err
  height rems(28)
  line-height rems(28)
.main-body
  position absolute
  top 0
  left 0
  width 100vw
  height 100vh
  .main-container
    overflow auto
    height 100%
    -webkit-overflow-scrolling touch
    .main-container-overflow-hidden
      overflow hidden
.zindex-1
  z-index 1
.zindex-2
  z-index 2
